{% extends 'todolist/base.html' %}

{% block content %}

    <h2>{% if task.id %}Editing "{{ task.title }}"{% else %}Create new task{% endif %}</h2>

    {% if task %}

        <form action="{% url 'todolist:task_edit' task_id=task.id %}" method="POST" class="task-form">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="save btn btn-success">Save</button>
        </form>

        <!-- cancel button -->
        <form action="{% url 'todolist:task_detail' task_id=task.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Cancel</button>
        </form>

    {% else %}

        <form action="{% url 'todolist:task_new' %}" method="POST" class="task-form">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="save btn btn-success">Save</button>
        </form>

        <!-- cancel button -->
        <form action="{% url 'todolist:task_list' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Cancel</button>
        </form>

    {% endif %}

{% endblock content %}
